.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: orange; */
  width: 340px;
}

.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

.btn-like, .btn-dislike{
  font-size: 1.2rem;
}

.btn-like{
  margin-right: 0.5rem;
}

.inputbox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  align-content: center;
}

.not-found{
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.movie-detail-container{
  max-width: 800px;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  align-content: center;
  margin-bottom: 10px;
}